<div class="card-deck ">
  <div class="card">
    <img class="card-img-top" src="../../assets/images/pubG.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">PUBG</h5>
      <p class="card-text">PUBG game is coming soon just register and win exciting mone</p>
      <p class="card-text">
        <small class="text-muted">Last updated 3 mins ago</small>
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../assets/images/blur.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">PUBG</h5>
      <p class="card-text">PUBG game is coming soon just register and win exciting mone</p>
      <p class="card-text">
        <small class="text-muted">Last updated 3 mins ago</small>
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../assets/images/clashOfClans.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">PUBG</h5>
      <p class="card-text">PUBG game is coming soon just register and win exciting mone</p>
      <p class="card-text">
        <small class="text-muted">Last updated 3 mins ago</small>
      </p>
    </div>
  </div>
</div>
